/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body{
	display: flex;
	flex-direction: column;
	margin: auto;
}
main, .top-menu {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	flex-direction: column;

}

.top-menu {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	width: 100%;	
	margin: auto;
	margin-top: 30px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li a {
    color: inherit;        /* Les liens prennent la couleur de leur élément parent */
    text-decoration: none; /* Supprime le soulignement */
    cursor: auto;          /* Utilise le curseur par défaut au lieu du pointeur */
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
/* Styles appliqués à la fois à #contact et #loginForm */
#contact, #loginForm {
	width: 50%;
	margin: auto;
}

#contact > *, #loginForm > * {
	text-align: center;
}

#contact h2, #loginForm h2 {
	margin-bottom: 20px;
}

#contact form, #loginForm form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

/* Grouper les styles communs pour input et textarea */
#contact input, #loginForm input,
#contact textarea, #loginForm textarea {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* Simplification pour les labels */
#contact label, #loginForm label {
	margin: 2em 0 1em 0;
}

/* Styles spécifiques pour les boutons submit, qui s'appliquent à tous les input[type="submit"] dans la page */
input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.filter-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.filter-title p{
	margin-left: 20px;
	font-size: 14px;
}

.filters button, #loginForm button{
	margin: 0 30px 30px 30px;

	padding: 10px;

	font-family: 'Syne';
	color: #1D6154;
	font-size: 16px;

	border-color:  #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	background-color: white;
}

.filters button:hover, .filters button.selected, #loginForm button{
	background-color: #1D6154;
	color: white;
}

#loginForm button{
		width: 50%;
		margin: auto;
}

#loginForm input{
	margin-bottom: 35px;
}


.login-contener {
    font-family: 'Syne';
    width: 75%; 
    margin: auto;
    padding: 20px;
	display: flex;
	flex-direction: column;
}

.login-contener h2{
	margin: auto;
	padding-bottom: 20px;
}

.login-contener label {
    margin-bottom: 5px; 
    text-align: left; 
    color: #333; 
}

.login-contener input {
    width: 100%; 
    padding: 10px;
    margin: 20px 0 10px 0; 
    border: 1px solid #ccc; 
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09); 
}

.login-contener a {
    color: inherit;
	margin: auto;
	padding-top: 35px;
}

.login-contener button{
	display: block; /* Rend le bouton un bloc pour permettre le centrage */
    margin-left: auto; /* Marge automatique à gauche */
    margin-right: auto; /* Marge automatique à droite */
}

#errorMessage {
    color: red; 
    display: none; 
    text-align: center; 
	margin-top: 20px;
}



.edit-banner {
    background-color: black;
    color: white;
    max-width: 100%;
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-banner p{
	font-family: 'Work Sans' ;
}

.hide {
	display: none;
}