/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body{
	display: flex;
	flex-direction: column;
	margin: auto;
}
main, .top-menu {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	color: black;
}

header {
	display: flex;
	flex-direction: column;

}

.top-menu {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	width: 100%;	
	margin: auto;
	margin-top: 30px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li a, .legale a{
    color: inherit;
    text-decoration: none;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact, #loginForm{
	width: 50%;
	margin: auto;
}

#contact > *, #loginForm > *{
	text-align: center;
}

#contact h2, #loginForm h2 {
	margin-bottom: 20px;
}

#contact form, #loginForm form, 
#imageUploadForm form{
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

/* Grouper les styles communs pour input et textarea */
#contact input, #loginForm input,
#contact textarea, #loginForm textarea, 
#imageUploadForm input, #imageUploadForm select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#loginForm input, #loginForm textarea{
	width: 380px;
	height: 30px;
}

#loginForm button{
	width: 180px;
	height: 35px;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p{
	color: black;
}

footer{
	color: black;
    width: 100%;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: white;
}

#footerLogIn {
    position: absolute;
    bottom: 0;
}

/* Simplification pour les labels */
#contact label, #loginForm label, .modal-2-label{
	margin: 2em 0 1em 0;
}

/* Styles spécifiques pour les boutons submit, qui s'appliquent à tous les input[type="submit"] dans la page */
input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.filter-title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

footer li{
	cursor: pointer;
}

.filter-title p{
	margin-left: 20px;
	font-size: 14px;
}
.filters button, #loginForm button, 
.add-image{
	margin: 0 5px 50px 5px;
	min-width: 100px;
	padding: 10px;

	font-family: 'Syne';
	color: #1D6154;
	font-size: 16px;

	border-color:  #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	background-color: white;
}

.add-image{
	background-color: #1D6154;
	color: white;
	width: 240px;
}

.filters button:hover,
.filters button.selected, #loginForm button
{
	background-color: #1D6154;
	color: white;
}

#loginForm button{
	width: 50%;
	margin: auto;
}

#loginForm input, #imageUploadForm input{
	margin-bottom: 35px;
}

#loginbtn{
font-weight: 700;
}

ul li{
	padding-right: 40px;
}

.login-contener {
    font-family: 'Syne';
    width: 75%; 
    margin: auto;
	padding: 120px 20px 20px 20px;
	display: flex;
	flex-direction: column;
}

.login-contener h2{
	margin: auto;
	padding-bottom: 20px;
}

.login-contener label {

    margin-bottom: 5px; 
    text-align: left; 
    color: #333; 
}

.login-contener input {
    width: 100%; 
    padding: 10px;
    margin: 20px 0 10px 0; 
    border: 1px solid #ccc; 
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09); 
}

.login-contener a {
    color: inherit;
	margin: auto;
	padding-top: 35px;
}

.login-contener button, .add-image{
	display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

#errorMessage {
    color: red; 
    display: none; 
    text-align: center; 
	margin-top: 20px;
}

#close-error {
	color: red;
	border: 1px solid red;
	border-radius: 3px;
	cursor: pointer;
}


.edit-banner {
    background-color: black;
    color: white;
    max-width: 100%;
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-banner p{
	font-family: 'Work Sans' ;
	color: white;
}

.edit-button{
	cursor: pointer;
}

/** MODAL **/
.modal, .modal-2{
	width: 630px;	
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	border: 1px solid white;
    position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.modal-2{
	background-color: white;
	align-items: center;
	justify-content: center;
}



.overlay{
	content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.close-button, .back-button{
	align-items: flex-end;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Work Sans' ;
	margin: 5px;
	cursor: pointer;
}

.modal-top-menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal h3, .modal-2 h3{
	margin: auto;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Syne';
}

.img-contener {
	margin: auto;
	justify-content: start;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.img-modal{
	width: 18%;
	height: 100px;
	margin: 10px 5px 10px 5px;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
}

.img-modal i{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17px;
	height: 17px;
	font-size: 10px;
	margin: 5px;
	color: white;
	background-color: black;
	border-radius: 2px;
	cursor: pointer;
}

#imageUploadForm{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	font-family: 'Syne';
}

.modal-2-label{
	text-align: left;
	width: 100%;
	font-weight: 700;
}

#imageUploadForm input, #imageUploadForm select{
	width: 100%;
}

.image-aera{
	height: 170px;
	width: 100%;
	padding: 15px;
	background-color: #E8F1F6;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.image-aera button{
	color: #306685;
	background-color: #CBD6DC;
	padding: 10px;
	padding-inline: 30px;
	border-radius: 20px;
	border: none;
	font-family: 'Syne';
	margin: 15px;
}

.image-aera label{
	font-size: 76px;
	color: #B9C5CC;

}

#category {
	margin-bottom: 20px;
}

hr{
	width: 100%;
	border-top: 2px solid #B3B3B3;
	border-radius: 5px;
}

.selected-img{
	height: 100%;
	width: 40%;
	object-fit: cover;
}

.add-img-botton{
	color: white;
	background-color: #A7A7A7;
	width: 240px;
	padding: 10px;
	border-radius: 20px;
	border: none;
	font-family: 'Syne';
	margin: 15px;
}

.clickable{
	background-color: #1D6154;
}

select, #imageUploadForm input, #imageUploadForm p {
	font-family: 'Syne';
}

.no-scroll {
    overflow: hidden;
}

.hide {
	display: none;
}